
.profilepic{
   min-width: 100px;
   height:auto;
   border: 2px solid #fff;
   border-radius: 50%;
   box-shadow: 0 0 5px gray;
   margin-top: 80px;
   z-index: 2;
}

.profileGrid {
   /* margin-left: 30px; */
}

.profileDetails {
   box-shadow: unset;
   height: 100px;
   position: relative;
   min-height: 70px;
   min-width: 100%;
}

.coverdiv img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.coverdiv{
   min-height: 100px;
   height: 150px;
   position: absolute;
}

.followbtn{
   float: right;
   margin-top: 150px;
}

.followRow{
   z-index: 1;
}