
.profilepic{
   min-width: 100px;
   height:auto;
   border: 2px solid #fff;
   border-radius: 50%;
   box-shadow: 0 0 5px gray;
   margin-left: 20px;
   margin-top: 80px;
   z-index: 2;
}

.coverdiv img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.coverdiv{
   min-height: 100px;
   height: 150px;
   position: absolute;
}
.followbtn{
   position: relative;

}